/* for Tablet */
@media screen and (max-width: 1000px ) {
  /*--- top ---*/
  #top h1{
     font-size: 3.5rem;
  }
  video {
    display:none;
  }

  .top-wrapper {
    background-image: url("../images/top-cover.gif");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -3;
    -webkit-filter: brightness(50%);
    filter:brightness(50%);
  }
  /*--- about ---*/
  /*--- features ---*/
  .feature-1 {
    background-attachment: scroll;
  }
  .feature-3 {
    background-attachment: scroll;
  }
  /*--- case--- */
  /*--- faq--- */
  /*--- contact--- */
}

/* for SmartPhone*/
@media all and (max-width: 670px ) {
  .box-title{
   font-size: 1.8rem;
   padding: 1.0rem 0 2.0rem;
   text-align: center;
  }

  .box-content{
   font-size: 1.2rem;
   text-align: left;
   padding-bottom: 4.5rem;
  }

  .step-box .box-content br {
    display: none;
  }

  .heading {
    font-size: 3.0rem;
  }
  /*--- top ---*/
  #top {
    height:500px
  }
  .inner-bg {
    padding: 180px 0px 30px;
  }
  video {
    display:none;
  }
  .top-wrapper {
    background-image: url("../images/top-cover.gif");
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -3;
    -webkit-filter: brightness(50%);
    filter:brightness(50%);
  }
  /*--- header ---*/
  .header-title {
    padding:0 10px;
  }
  .header-right {
    display: none;
  }
  /*--- top ---*/
  #top h1{
     font-size: 2.5rem;
  }

  #top p{
      font-size: 2.5rem;
  }
  /*--- about ---*/
  .about-top {
   font-size: 2.5rem;
  }
  .about-text {
   font-size: 1.0rem;
  }
  .logo-name {
    width: 40%;
  }
  .step-wrapper,.step-box {
    display: block;
    padding: 0 20px;
  }

  /*--- features ---*/
  .fea .box-title {
    font-size: 1.6rem;
  }

  .fea .box-content {
    font-size:1.0rem;
  }
  .feature-1 {
    background-attachment: scroll;
  }
  .feature-3 {
    background-attachment: scroll;
  }
  /*--- case--- */
  #case .heading {
    margin: 15px 0 15px;
  }
  .case-wrapper,.case-box {
    display: block;
    padding:0;
  }

  /*--- faq--- */
  #faq {
    padding-bottom: 15px;
  }
  #faq .heading {
    margin-bottom: 15px;
  }
  .faq-list-item h3 {
    font-size: 1.2rem;
  }
  .faq-list-item span {
    font-size: 2.5rem;
  }
  .faq-list-item .answer {
    font-size: 1.0rem;
  }
  .faq-list-item .answer br{
    display: none;
  }
  /*--- contact--- */
  .service-title {
    font-size: 1.2rem;
  }

  .service-content {
    padding-bottom: 25px;
    font-size: 1.0rem;
  }
  /*--- footer ---*/
  .main_footer {
    height: 140px;
  }
  .main_footer .footer_logo_ourshot {
    margin: 0 auto;
  }
  .main_footer .footer_logo_ourshot img{
    padding: 10px;
    width: 240px;
  }
  .main_footer .footer_logo img {
      width: 250px;
  }
  .footer_nav ul li {
    font-size: 1.0rem;
  }
}
