/* for Tablet */
@media screen and (max-width: 1000px ) {
  /*--- top ---*/
  #top h1{
     font-size: 3.5rem;
  }
  /*--- about ---*/
  /*--- features ---*/
  /*--- case--- */
  /*--- faq--- */
  /*--- contact--- */
}

/* for SmartPhone*/
@media all and (max-width: 670px ) {
  .box-title{
   font-size: 1.8rem;
   padding: 1.0rem 0 2.0rem;
   text-align: center;
  }

  .box-content{
   font-size: 1.2rem;
   text-align: left;
   padding-bottom: 4.5rem;
  }


  .heading {
    font-size: 3.0rem;
  }
  /*--- top ---*/
  #top {
    height:550px
  }
  .inner-bg {
    padding: 180px 0px 30px;
  }
  /*--- header ---*/
  .header-title {
    padding:0 10px;
  }
  .header-right {
    display: none;
  }
  /*--- top ---*/
  #top h1{
     font-size: 2.5rem;
  }

  #top p{
      font-size: 2.5rem;
  }
  /*--- about ---*/
  .about-top {
   font-size: 2.5rem;
  }
  .about-text {
   font-size: 1.0rem;
  }
  .logo-name {
    width: 40%;
  }
  .step-wrapper,.step-box {
    display: block;
    padding: 0 20px;
  }

  /*--- features ---*/
  .fea .box-title {
    font-size: 2.0rem;
  }

  .fea .box-content {
    font-size:1.0rem;
  }
  /*--- case--- */
  .case-wrapper,.case-box {
    display: block;
  }

  .case
  /*--- faq--- */
  .faq-list-item h3 {
    font-size: 1.0rem;
  }
  .faq-list-item span {
    font-size: 2.5rem;
  }
  .faq-list-item .answer {
    font-size: 1.0rem;
  }
  /*--- contact--- */
  .service-title {
    font-size: 2.5rem;
  }

  .service-content {
    padding-bottom: 25px;
    font-size: 1.0rem;
  }
  /*--- footer ---*/
  .main_footer .footer_logo img {
      width: 250px;
  }
}
