@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  font-size: 1.4rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

 html, body,
 ul, ol, li,
 h1, h2, h3, h4, h5, h6, p,
 form, input, div {
   margin: 0;
   padding: 0;
 }

 body {
   font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   font-size: 14px;
   color: ;
 }

 li {
   list-style: none;
 }

 a {
    text-decoration: none;
    color: #323A45;
    transition: all .3s;
}


 a:hover {
   color: #00A791;
   text-decoration: none;
 }

 h2, h3, h4, h5, h6 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: 400;
 }

 h4, h5 {
   color: #444;
   font-size: 1.8rem;
 }
 .major {
   padding-bottom: 1em;
   border-bottom: solid 2px rgba(255, 255, 255, 0.125);
 }

 .wrapper {
   max-width: 1170px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
 }

.container {
  width: 100%;
}
/*parts*/

 .heading {
   position: relative;
   display: inline-block;
   margin: 30px 0 15px;
   padding-bottom: 10px;
   letter-spacing: 2px;
   font-size: 4rem;
 }

 .heading::after {
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   border-bottom: 2px solid　#EB5635;
 }

 .heading:nth-child(odd) {
  border-bottom: 2px solid #EB5635;
}
.filter:{
  -webkit-filter: brightness(50%);
  filter:brightness(50%);
 }

/*pace*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #48dabf;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #48dabf, 0 0 5px #48dabf;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #48dabf;
  border-left-color: #48dabf;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/*button*/
a {
 padding-top: 60px;
}
a span {
 animation: sdb 2s infinite;
}
@-webkit-keyframes sdb {
 0% {
   -webkit-transform: rotate(-45deg) translate(0, 0);
 }
 20% {
   -webkit-transform: rotate(-45deg) translate(-10px, 10px);
 }
 40% {
   -webkit-transform: rotate(-45deg) translate(0, 0);
 }
}
@keyframes sdb {
 0% {
   transform: rotate(-45deg) translate(0, 0);
 }
 20% {
   transform: rotate(-45deg) translate(-10px, 10px);
 }
 40% {
   transform: rotate(-45deg) translate(0, 0);
 }
}



 .shadow {
   color: #fff;
   text-shadow:
       1px 1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       -1px -1px 0 #000;
 }

 .btn {
  position: relative;
   background-color: #EB5635;
   border-radius: 4px;
   font-size: 1.5rem;
   color: #fff;
   line-height: 32px;
   -webkit-transition: none;
   transition: none;
   box-shadow: 0 3px 0 #6B2718;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
   width: 180px;
}
.btn:hover {
   background-color: #AB3F27;
   cursor: pointer;
   box-shadow: 0 3px 0 #6B2718;
}
.btn:active {
   top: 3px;
   box-shadow: none;
}

 .box-title{
  font-size: 2.5rem;
  padding: 1.0rem 0 2.0rem;
  text-align: center;
 }

 .box-content{
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 4.5rem;
 }

 /*-------  header  --------*/

 .header {
   position: fixed;
   width: 100%;
   margin: 0 auto;
   padding-top: 10px;
   line-height: 1;
   z-index: 10;
 }
 .header:after {
   content: "";
   display: block;
   line-height: 1;
   width: 980px;
   margin: 30px auto 0;
   position: fixed;
   z-index: 10;
 }
 .header .header-wrapper {
     position: relative;
 }

 .header-title {
   float: left;
 }

 .header-logo {
   line-height: 40px;
   height: 40px;
   padding-bottom: 10px;
 }

 .header-right{
   float: right;
   line-height: 40px;
   height: 40px;
   padding-bottom: 10px;
   color: white;
 }
 .responsive-menu {
   display: none;
 }
 .nav ul {
     position: absolute;
     right: 0;
     bottom: 0;
     font-size: 14px;
 }
 .nav li {
   float: left;
   position: relative;
 }

 .nav li .active {
   color: #EB5635
 }

 .nav a {
   font-weight: 700;
   padding-left: 20px;
   color: white;
 }

 .nav a:hover {
   color: #00A791;
   transition: color .3s;
 }

/* Fixed */
.header.fixed {
    background-color: white;
}
.header.fixed .header-title {
    color: #333;
}

.header.fixed:after {
    width: 100%;
    margin-top: 20px;
}

.header.fixed .header-right ul li a {
    color: #333;
    padding: 0 20px;
}

.header.fixed .header-right ul li a:hover {
    color: #00A791;
}
.header.fixed .header-right ul li a.active {
    color: #EB5635;
}

 /*-------  Top  --------*/
 #top {
  height: 620px;
 }

 .pattern {
   width: 100%;
   height: 100%;
   background: url('../images/ptn.png');
   position: fixed;
   top: 0;
   left: 0;
   z-index: -2;
 }

 video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -3;
   -webkit-filter: brightness(50%);
   filter:brightness(50%);
 }

 .inner-bg {
     padding: 190px 0px 240px;
 }

 .top-contact {
   text-align: right;
 }
 #top h1{
    text-align: left;
    font-size: 4.5rem;
    color: white;
    opacity: 0.7;
    font-family: 'Tahoma';
 }
 /*type*/
 #top p{
     font-size: 2.5rem;
     padding-top: 20px;
     opacity: 0.7;
     color: white;
 }

 /*-------  About  --------*/

 #about {
 	background-color: #00A791;
  color: white;
 }

 .about-wrapper {
  padding-top: 20px;
 }
 .about-top {
  font-size: 4.0rem;
 }
 .about-text {
  font-size: 2.0rem;
 }
 .youtube {
   padding-top: 30px;
   max-width: 675px;
   margin: 0 auto;
 }
 .movie-wrapper {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
 }
 .movie-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .step-wrapper {
   margin: 50px auto 0;
   table-layout: fixed;
   color: white;
 }
 .step-img {
   width: 50%;
 }
 .step-box{
   display: table-cell;
   padding-right: 25px;
 }
 .step-text{
   padding-bottom: 30px
 }

/*------  Features  --------*/
 #features {
  background-color: #095A50;
  color: white;
 }

 .feature-wrapper {
   margin-top: 1.5rem;
 }

 .inner {
   width: 85%;
   margin: 0 auto;
   padding-top: 40px;
 }

 .fea .box-content{
   text-align: center;
 }
 .feature-1 {
  background-image: url('../images/feature-1.png') ;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  color: white;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-bottom: 180px
}

.feature-1:before {
  background: #095A50;
  content: "";
  position: absolute;
  height: 250px;
  width: 250%;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.feature-1 .content {
  padding-top: 60px;
}
 /*.feature-1 .content {
   padding-top: 60px;
 }*/

 .feature-2 {
   background-color: #095A50;
   color: white;
 }

 .feature-3 {
  padding: 120px 0 120px;
  background-image: url('../images/feature-3.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-position: right bottom;
  position: relative;
  color: white;
  overflow: hidden;
}

.feature-3:after {
  content: "";
  position: absolute;
  height: 250px;
  width: 250%;
  background: #095A50;
  top: -200px;
  left: -100%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.feature-3:before {
  background: #095A50;
  content: "";
  position: absolute;
  height: 250px;
  width: 250%;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}


/*------  Case  --------*/
#case {
   background-color: #095A50;
   color: white;
 }

 .case-wrapper {
   display: table;
   width: 80%;
   margin: 50px auto 0;
   table-layout: fixed;
 }
 .case-box {
   display: table-cell;
   padding: 0 3.0rem 0;
 }
 .case-img {
   text-align: center;
   margin-bottom: 10px;
   width: 90%;
 }

/*------  FAQ  --------*/
 #faq {
  background-color: white;
  color: #095A50;
  }

 #faq-list {
  padding-bottom: 30px;
}
 .faq-container {
   padding-top: 1.5rem;
 }
 .faq-list-item {
   margin:10px;
   border-bottom:1px solid #ccc;
   position:relative;
   cursor:pointer;
   text-align: left;
 }
 .faq-list-item h3 {
   font-size: 2.0rem;
   padding: 0.5rem 0 1.5rem;
   text-align: left;
 }
 .faq-list-item span {
   position:absolute;
   top:-3px;
   right:5px;
   color: #B3B3B3;
   font-size:2.5rem;
   padding-top: 4px;
 }

 .faq-list-item .answer {
   font-size: 1.5rem;
   text-align: left;
   padding-bottom: 4.5rem;
   display: none;
 }

/*------  Contact  --------*/

 #contact {
   color: white;
 }
 .contact-wrapper{
   padding: 30px 0 40px;
   margin: 0 auto;
   margin-bottom: 15px;
 }
 .service-title {
   padding-bottom: 10px;
   letter-spacing: 4px;
   font-size: 2.0rem;
   color: #fff;
   position: relative;
   font-family: 'Tahoma';
 }
 .service-content {
   padding-bottom: 25px;
   font-size: 1.6rem;
 }


   /*------  Footer  --------*/
  .main_footer {
      text-align: center;
      color: white;
      background-color: #00A690;
      padding: 2rem 0;
      height: 180px;
  }
  .main_footer .footer_logo_ourshot {
    margin: 0 auto;
  }
  .main_footer .footer_logo_ourshot img{
    display: none;
    padding: 10px;
    width: 340px;
  }
  .main_footer .footer_logo {
      margin-bottom: 1rem;
  }
  .main_footer .footer_logo img {
      width: 350px;
  }
  .main_footer .footer_nav {
      margin-bottom: 1rem;
  }

  .main_footer ul, .main_footer li {
      margin: 0;
      padding: 0;
      text-align: center;
  }

  .main_footer li {
      display: inline-block;
      font-size: 1.5rem;
      padding-right: 1.0rem;
      line-height: 1;
      vertical-align: middle;
  }

  .main_footer li a {
    color: white;
  }

  .copyright {
    text-align: center;
  }
