@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  font-size: 1.4rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

 html, body,
 ul, ol, li,
 h1, h2, h3, h4, h5, h6, p,
 form, input, div {
   margin: 0;
   padding: 0;
 }

 body {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   font-size: 14px;
   color: #888;
 }

 li {
   list-style: none;
 }

 a {
    text-decoration: none;
    color: #323A45;
    transition: all .3s;
}


 a:hover {
   color: #0dc0c0;
   text-decoration: none;
 }

 h2, h3, h4, h5, h6 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: 400;
 }

 h4, h5 {
   color: #444;
   font-size: 1.8rem;
 }

 .wrapper {
   max-width: 1170px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
 }

/*parts*/

 .heading {
   position: relative;
   display: inline-block;
   margin: 30px 0 15px;
   padding-bottom: 10px;
   letter-spacing: 2px;
   font-size: 4rem;
 }

 .heading::after {
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
 }

 .heading:nth-child(odd) {
  border-bottom: 2px solid #777;
}

 .heading:nth-child(even){
  border-bottom: 2px solid black;
}
 .major {
 	padding-bottom: 1rem;
 	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
 }

 a {
  padding-top: 60px;
 }
 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
 }
 @-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
 }
 @keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
 }

  .scroll{
  	position: absolute;
 	bottom: 20px;
 	left: 50%;
 	z-index: 2;
 	display: inline-block;
 	-webkit-transform: translate(0, -50%);
 	transform: translate(0, -50%);
 	text-decoration: none;
  }
  .scroll span {
  	position: absolute;
  	top: 0;
  	left: 50%;
  	width: 24px;
  	height: 24px;
  	margin-left: -12px;
  	border-left: 1px solid #fff;
  	border-bottom: 1px solid #fff;
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	box-sizing: border-box;
  }

 .shadow {
     color: #fff;
     text-shadow:
         1px 1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
         -1px -1px 0 #000;
 }

 .btn {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 32px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.btn:active {
	top: 3px;
	box-shadow: none;
}
 .box-title{
  font-size: 2.5rem;
  padding: 1.0rem 0 2.0rem;
  text-align: center;
 }

 .box-content{
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 4.5rem;
 }

 /*-------  header  --------*/
 .header {
   height: 50px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: #fff;
   line-height: 50px;
   border-bottom: 1px solid #eee;
   z-index: 10;
 }

 .header-title {
   float: left;
 }

 .header-logo {
   line-height: 40px;
   height: 40px;
   padding-top: 10px;
 }

 .header-right{
   float: right;
 }

 .nav li {
   float: left;
 }

 .nav a {
   font-weight: 700;
   padding-left: 20px;
 }

 .nav a:hover {
   color: #00A791;
   transition: color .3s;
 }

 /*-------  top  --------*/
 #top {
  height: 620px;
 }

 .pattern {
   width: 100%;
   height: 100%;
   background: url('../images/yokoshima.png');
   position: fixed;
   top: 0;
   left: 0;
   z-index: -2;
 }

 video:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.70);
  }

 video {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -3;
 }

 .inner-bg {
     padding: 250px 0px 240px;
 }
 #top h1{
    font-size: 4.5rem;
    color: white;
    opacity: 0.7;
 }

 #top p{
     font-size: 2.5rem;
     padding-top: 20px;
     opacity: 0.7;
 }

 /*-------  about  --------*/
 #about {
 	background-color: #00A791;
  color: white;
 }

 .about-wrapper {
  padding-top: 20px;
 }
 .about-top {
  font-size: 4.0rem;
 }
 .about-text {
  font-size: 2.0rem;
 }
 .step-wrapper {
   width: 80%;
   margin: 50px auto 0;
   table-layout: fixed;
   color: white;
 }
 .step-box{
   display: table-cell;
   width: 30%;
   padding-right: 15px;
 }
 .step-text{
   padding-bottom: 30px
 }

/*------  Features  --------*/
 #features {
  background-color: white;
  color: gray;
 }

 .feature-wrapper {
   margin-top: 1.5rem;
 }

 .feature-wrapper .inner {
   /*padding: 3rem 0 1rem 0 ;*/
   margin: 0 auto;
   width: 55em;
 }

 .feature-1 {
   background-color: white;
   background-attachment: fixed;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: center center;
   overflow: hidden;
   position: relative;
   padding-bottom: 180px
 }

 .feature-1:before {
   background: #095A50;
   content: "";
   position: absolute;
   height: 250px;
   width: 250%;
   bottom: -200px;
   left: -100%;
   -webkit-transform: rotate(-3deg);
   -ms-transform: rotate(-3deg);
   -o-transform: rotate(-3deg);
   transform: rotate(-3deg);
 }


 .feature-2 {
   background-color: #095A50;
   color: white;
 }

 .feature-3 {
  padding: 120px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.feature-3:after {
  content: "";
  position: absolute;
  height: 250px;
  width: 250%;
  background: #095A50;
  top: -200px;
  left: -100%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.feature-3:before {
  background: #095A50;
  content: "";
  position: absolute;
  height: 250px;
  width: 250%;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

 /*.feature-wrapper {
    margin: 1.5em 0 1.0em;
    position: relative;
    padding-bottom: 15px;
  }


  .feature-wrapper .inner {
    padding: 3rem 0 1rem 0 ;
    margin: 0 auto;
    width: 55em;
  }*/


h3.major {
  padding-bottom: 1rem;
  border-bottom: solid 2px #777;
}

 /*------  Case  --------*/
#case {
   padding: 72px 0;
   background-color: #095A50;
   color: white;
 }

 .case-wrapper {
   display: table;
   width: 80%;
   margin: 50px auto 0;
   table-layout: fixed;
 }

 .case-box {
   display: table-cell;
   padding: 0 3.0rem 0;
 }
 .case-img {
   text-align: center;
   margin-bottom: 30px;
   width: 70%;
 }
  /*------  FAQ  --------*/
 #faq {
  padding: 72px 0;
  background-color: white;
  color: #095A50;
  }

.faq-container {
  padding-top: 1.5rem;
}

.question {
  font-size: 2.5rem;
  padding: 0.5rem 0 1.5rem;
  text-align: left;
}

.answer {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 4.5rem;
}

 /*------  Contact  --------*/

  #contact {
    color: white;
   }

   .contact-wrapper{
     padding: 30px 0 40px;
   }

 /*------  Footer  --------*/
